/build/*
/player/*
/skin/*
!/skin/default/
/practice/*
/screenshot/*
/table/*
/course/*
/favorite/*
songdata.db
songinfo.db
config.json
config_sys.json
beatoraja.jar
beatoraja_log.xml
/bin/
b.bat
/*.dll
*.cim
.idea/
src/bms/player/beatoraja/.DS_Store
src/bms/player/.DS_Store
.DS_Store
src/.DS_Store
src/bms/.DS_Store
src/bms/player/.DS_Store
