/build/*
/player/*
/skin/*
!/skin/default/
/practice/*
/screenshot/*
/table/*
/course/*
/favorite/*
/release/*
/ipfs/*
/.settings/*
songdata.db
songinfo.db
config.json
beatoraja.jar
beatoraja_log.xml
/bin/
b.bat
/*.dll
*.cim
.idea/
.classpath
.project